#navbar{
    border-bottom: 1px solid #E1E1E1;
    background-color: #ffffff;
}

#navbar ul,
#navbar li{
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
}

#navbar ul.catebar{
    width: 100%;
    text-align: center;
    margin-bottom: -2px;
}

#navbar ul.catebar > li{
    display: inline-block;
    width: 150px;
}

#navbar ul.catebar > li.active{
    border-bottom: 4px solid #3498db;
    margin-bottom: -2px;
}

#navbar ul.catebar > li.active > a{
    color: #3498db;
}

#navbar ul.catebar > li > a{
    display: block;
    text-decoration: none;
    color: #353535;
    line-height: 50px;
}

#navbar ul.catebar > li > a:hover{
    color: #3498db;
}

#navbar ul.catebar > li > a > i{
    line-height: 50px;
}

#navbar ul.catebar > li > a:hover > i{
    transform: rotate(-90deg);
    transition: transform 0.2s ease
}

#navbar ul.catebar > li > ul.children{
    display: none;
    padding-left: 0px;
    padding-bottom: 0px;
    border: 1px solid #ebebeb;
    border-top: 1px solid white;
    position: absolute;
    width: 150px;
    background-color: #FFF;
    z-index: 9999;
}

#navbar ul.catebar > li > ul.children a{
    display: block;
    width: 100%;
    color: #353535;
    text-decoration: none;
    line-height: 40px;
}

#navbar ul.catebar > li > ul.children a:hover{
    color: #3498db;
}
