#sidebar{

}

#sidebar .sidebar-box{
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e7ebee;
    margin-bottom: 15px;
    padding: 20px;
}

#sidebar .sidebar-box .sidebar-box-title{
    font-size: 15px;
    width: 100%;
}

#sidebar .sidebar-box .sidebar-box-divider{
    margin-top: 8px;
    margin-bottom: 8px;
    height: 1px;
    background-color: #e5e5e5;
}

#sidebar .sidebar-box .sidebar-box-divider:before{
    content: " ";
    background-color: #3498db;
    width: 30%;
    height: 2px;
    float: left;
    position: relative;
    top: -1px;
}

/**
 * 微语
 */
#sidebar .sidebar-box .siderbar-box-content .sidebar-box-motto{
    color: #555;
    font-size: 15px;
    text-indent: 2em;
    line-height: 2;
    padding: 15px 10px 5px 0px;
}

#sidebar .sidebar-box .siderbar-box-content .sidebar-box-submotto{
    color: #999999;
    text-align: right;
    font-size: 12px;
    padding: 5px 10px;
}

/**
 * 标签云
 */
#sidebar .sidebar-box .siderbar-box-content a.btn-tag{
    display: inline-block;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    text-decoration: none;
    padding: 1px 8px;
    margin: 5px;
    font-weight: bold;
    line-height: 28px;
}

/**
 * 文章分类
 */
#sidebar .sidebar-box .siderbar-box-content a.sidebar-cate-item{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 14px;
    margin-bottom: 7px;
    padding-left: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-cate-item:first-child{
    margin-top: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-cate-item:hover{
    color: #3498db
}

/**
 * 文章归档
 */
#sidebar .sidebar-box .siderbar-box-content a.sidebar-archive-item{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-archive-item:first-child{
    margin-top: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-archive-item:hover{
    color: #3498db
}
