#sidebar{

}

#sidebar .sidebar-box{
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e7ebee;
    margin-bottom: 15px;
    padding: 20px;
}

#sidebar .sidebar-box .sidebar-box-title{
    font-size: 15px;
    width: 100%;
}

#sidebar .sidebar-box .sidebar-box-divider .right{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    width: 100%;
}

#sidebar .sidebar-box .sidebar-box-divider .right:before{
    content: " ";
    display: inline-block;
    background-color: #3498db;
    height: 2px;
    width: 100px;
    float: left;
}


/**
 * 标签云
 */
#sidebar .sidebar-box .siderbar-box-content a.btn-tag{
    display: inline-block;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    text-decoration: none;
    padding: 4px 8px;
    margin: 5px;
}

/**
 * 文章分类
 */
#sidebar .sidebar-box .siderbar-box-content a.sidebar-cate-item{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: #555;
    font-size: 14px;
    margin-bottom: 7px;
    padding-left: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-cate-item:first-child{
    margin-top: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-cate-item:hover{
    color: #3498db
}

/**
 * 文章归档
 */
#sidebar .sidebar-box .siderbar-box-content a.sidebar-archive-item{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-archive-item:first-child{
    margin-top: 5px;
}

#sidebar .sidebar-box .siderbar-box-content a.sidebar-archive-item:hover{
    color: #3498db
}
