#content{
    background-color: #ffffff;
    border: 1px solid #e7ebee;
    padding: 0px 15px;
    margin-bottom: 20px;
}

#content .content *{
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}

#content code{
    word-break: break-all;
}

#content header p,
#content .content > p{
    text-indent: 2em;
}

#content .content pre{
    border-width: 0px;
    border-radius: 0px;
}

#content .content pre > code,
#content .content pre > code *{
    font: normal 14px Consolas, Monaco, monospace !important;
}

#content .content > p{
    font-size: 15px;
    line-height: 27px;
    margin: 0 0 10px;
    letter-spacing: 0.3px;
}

#content .content p > img{
    margin: 0px;
}

#content .content table{
    width: 100%;
    max-width: 100%;
}

/*content footer*/
#content footer .siblings-link{
    display: block;
    width: 100%;
    margin-top: 10px;
}

#content footer .siblings-link .sibling{
    display: inline-block;
    width: 49%;
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #3498db;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

#content footer .siblings-link .sibling:hover{
    background-color: #3498db;
    color: #ffffff;
}

#content footer .siblings-link .empty-sibling{
    border-color: #99a1a7;
    color: #99a1a7;
}

#content footer .siblings-link .empty-sibling:hover{
    cursor: not-allowed;
    background-color: #ffffff;
    color: #99a1a7;
}

#content footer .siblings-link .prev-link{
    /*text-align: left;*/
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#content footer .siblings-link .next-link{
    float: right;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#content footer .copyright-info{
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 20px;
    color: #495057;
    font-size: 13px;
}
