#footer{
    background-color: #333333;
    color: #a8a8a8;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer .footer-box{
    display: inline-table;
    width: 33%;
    padding: 20px 30px;
}

#footer .footer-box .footer-box-header{
    font-size: 16px;
}

#footer .footer-box .footer-divider{
    height: 1px;
    background-color: #a8a8a8;
    margin-top: 8px;
    margin-bottom: 12px;
}

#footer .footer-box .footer-divider:before{
    content: " ";
    background-color: #99a1a7;
    width: 30%;
    height: 3px;
    float: left;
    position: relative;
    top: -2px;
}

#footer .footer-box .footer-divider:before{
    content: " ";
}

#footer .connect-me a.connect-link{
    display: inline-block;
    color: #a8a8a8;
    text-decoration: none;
    margin: 15px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

#footer .connect-me a.connect-link:hover{
    color: #3498db;
}

#footer .connect-me a.rss-link:hover{
    color: #ffcc33;
}

#footer .connect-me a.weibo-link:hover{
    color: #de2f2f;
}

#footer .connect-me a.github-link:hover{
    color: #3498db;
}

#footer .connect-me a.wechat-link:hover{
    color: #08ba08;
}

#footer .connect-me .connect-link i.fa{
    display: block;
}

#footer .connect-me .connect-link .connect-text{
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}

#footer .friend-link a.friend-link-btn{
    color: #a8a8a8;
    border-color: #a8a8a8;
    background-color: #333333;
    border-radius: 1px;
    text-shadow: none;
    margin: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#footer .friend-link a.friend-link-btn:hover{
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
}

#footer .donation img{
    display: inline-block;
    margin: 5px;
}

#footer .donation .donate-tip{
    background-color: #333333;
    border-color: #a8a8a8;
    color: #ffffff;
}

#footer .donation .donate-tip .arrow{
    border-top-color: #a8a8a8;
}

#footer .donation .donate-tip .arrow:after{
    border-top-color: #333333;
}

#footer .footer-copyright{
    text-align: center;
    margin-top: 15px;
}

#footer .footer-copyright a{
    color: #a8a8a8;
    text-decoration: none;
}

#footer .footer-copyright a:hover{
    color: #3498db;
}
