#content{
    background-color: #ffffff;
    border: 1px solid #e7ebee;
    padding: 0px 15px;
    margin-bottom: 20px;
}

#content .content *{
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}

#content code{
    word-break: break-all;
}

#content header p,
#content .content > p{
    text-indent: 2em;
}

#content .content pre{
    /*padding: 0px;
    border-width: 0px;
    border-radius: 0px;*/
}

#content .content pre > code{
    /*padding: 15px 20px;*/
}

#content .content pre > code,
#content .content pre > code *{
    font: normal 10pt Consolas, Monaco, monospace !important;
}

#content .content > p{
    font-size: 15px;
    line-height: 27px;
    margin: 0 0 10px;
    letter-spacing: 0.3px;
}

#content .content p > img{
    margin: 0px;
}

#content .content table{
    width: 100%;
    max-width: 100%;
}

/*content footer*/
#content footer .copyright-info{
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 20px;
    color: #495057;
    font-size: 13px;
}
