#boxes{

}

#boxes .box{
    background-color: #ffffff;
    border: 1px solid #e7ebee;
    padding: 30px;
    margin-bottom: 20px;
}

#boxes .box:nth-last-child(2){
    margin-bottom: 5px;
}

#boxes .box:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

#boxes .box .box-header{
    text-align: left;
    text-align: center;
    margin-bottom: 5px;
}

#boxes .box .box-header-title a{
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    color: #333333;
    text-decoration: none;
}

#boxes .box .box-header a:hover{
    color: #3498db;
}

#boxes .box .box-header .box-header-meta{
    width: 100%;
    margin-top: 15px;
}

#boxes .box .box-header .box-header-meta .header-meta{
    display: inline-block;
    text-align: left;
    color: #999999;
}

#boxes .box .box-header .box-header-meta .label-meta{
    width: 40%;
}

#boxes .box .box-header .box-header-meta .view-meta{
    width: 30%;
}

#boxes .box .box-header .box-header-meta .pubtime-meta{
    width: 28%;
}

#boxes .box .box-divider{
    border-top: 1px solid #e7ebee;
    margin-bottom: 15px;
}

#boxes .box .box-body{
    margin-bottom: 20px;
    margin-top: 10px;
}

#boxes .box .box-body,
#boxes .box .box-body p{
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    color: #555;
    line-height: 27px;
    text-indent: 2em;
    font-size: 15px;
}

#boxes .box .box-footer{
    margin-top: 15px;
}

#boxes .box .box-footer .footer-meta{
    display: inline-block;
}

#boxes .box .box-footer .btn-view-container{
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

#boxes .box .box-footer .btn-view-container .btn-view{
    border-radius: 1px;
    text-decoration: none;
    border-color: #3498db;
    background-color: #3498db;
}

#boxes .box .box-footer .btn-view-container .btn-view:hover{
    background-color: #3badf9;
    border-color: #3badf9;
}

#boxes .pagination{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#boxes .pagination ul.pager li a{
    color: #3498db;
}

#boxes .pagination ul.pager li.disabled a{
    color: #ddd;
}

#boxes .pagination ul.pager li.active a{
    background-color: #3498db;
    border-color: #3498db;
    color: #ffffff;
}
